Ejercicios XML Y DTD/Ejercicios DTD/dtd3.dtd

<!ELEMENT receta (parrafo, titulo, ingredientes, procedimiento)>
<!-- se deben definir todos los elementos que componen la receta -->
<!ELEMENT parrafo (#PCDATA)>  <!-- a diferencia del anterior se debe incluir el elemento párrafo-->
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT ingredientes (#PCDATA)>
<!ELEMENT procedimiento (#PCDATA)>